<a href="https://colab.research.google.com/github/Vaishalivk03/placement/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#happy number
num=int(input("enter no."))
while(num!=1 and num!=4):
  sum=0
  while(num):
     r=num%10
     sq=r**2
     sum=sum+sq
     num=num//10
  num=sum
if(num==1):
    print("happy")
elif(num==4):
    print("not happy")

In [ ]:
#happy nymber using user defined function
def ishappy(n):
 sum=0
 while(n):
  r=n%10
  sum=sum+r**2
  n=n//10
 return sum

n=int(input())
res=n
while(res!=1 and res!=4):
  res=ishappy(res)
if(res==1):
  print("happy")
elif(res==4):
  print("not happy")

In [ ]:
#check prime or not , print the no.,print count of no.
start=int(input("enter the starting number"))
end=int(input("enter the ending number"))
count=0
# if(num==0 and num==1):
#   print("not prime")

for num in range (start, end+1):
    if num > 1:
        for i in range (2, num):
            if (num % i) == 0:
                break
        else:
            print (num)
            count=count+1
print("total prime numbers in a given range=",count)

enter the starting number1
enter the ending number10
2
3
5
7
total prime numbers in a given range= 4

In [ ]:
#fibonacci
n=int(input("enter the no."))
f1=0
f2=1
print(f1,f2,end=" ")#end is delimiter
for i in range (2,n):
  f3=f1+f2
  print(f3,end=" ")
  f1=f2
  f2=f3

enter the no.5
0 1 1 2 3

In [ ]:
#write a python program to find the best of 2 test average marks out of 3 tests marks accepted by the user
def avg(a,b):
  c=(a+b)/2
  return c

x=int(input("enter sub1 marks"))
y=int(input("enter sub2 marks"))
z=int(input("enter sub3 marks"))
a1=avg(x,y)
a2=avg(y,z)
a3=avg(y,z)

if(a1>a2 and a1>a3):
 print(a1)
elif(a2>a3 and a2>a1):
 print(a2)
else:
 print(a3)

enter sub1 marks20
enter sub2 marks10
enter sub3 marks30
20.0

In [ ]:
#develop a python program to convert a binary number into decimal, octal and hexadecimal number using functions

In [ ]:
# define a function F as Fn=Fn-1 + Fn-2. write a python program which accepts a value for N (where N>0) as input and pass this value to the function.
# display suitable error message if the condition for input value is not followed

In [ ]:
#write a program to find string similarity between 2 strings

In [ ]:
#write a python program that accepts a sentence and finds the no. of words,digits,uppercase and lower case letters

In [ ]:
#  *
#  * *
#  * * *
#  * * * *
#  * * * * *
n=int(input())
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end=" ")
  print()
  # if(j<=i):

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#           *
#         * *
#       * * *
#     * * * *
#   * * * * *
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    if(i+j>=n-1):
     print("*",end=" ")
    else:
     print(" ",end=" ")
  print()

5
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# * * * * *
#   * * * *
#     * * *
#       * *
#         *
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    if(j>=i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
# * * * * *
# * * * *
# * * *
# * *
# *
n=int(input())
for i in range(0,n):
  for j in range(i,n):
    print("*",end=" ")
  print()
    # (0,n)
    #if(j>=i):
    #if(i+j<=n-1):

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
# * * * * *
# * * * * *
# * * * * *
# * * * * *
# * * * * *
n =int(input("enter the rows"))
#m =int(input("enter the col"))
for i in range(0,n):
  for j in range(0,n):
    print("*",end=" ")
  print()

enter the rows5
enter the col6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
#1
#1 2
#1 2 3
#1 2 3 4
#1 2 3 4 5
n=int(input())
for i in range(0,n):
  for j in range(0,i+1):
    print(j+1,end=" ")
  print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5
n=int(input())
for i in range(0,n):
  for j in range(0,i+1):
    print(i+1,end=" ")
  print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# * * * * *
# *       *
# *       *
# *       *
# * * * * *
# n =int(input("enter the rows"))
# #m =int(input("enter the col"))
# for i in range(0,n):
#   if(i!=0 and i!=n-1):
#     for j in range(0,n):
#       if(j==0 or j==n-1):
#         print("*",end=" ")
#       else:
#         print(" ",end=" ")

#   else:
#     for j in range(0,n):
#       print("*",end=" ")
#   print()

n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
# * * * * *
# * *   * *
# *   *   *
# * *   * *
# * * * * *
# n =int(input("enter the rows"))
# #m =int(input("enter the col"))
# for i in range(0,n):
#   if(i!=0 and i!=n-1):
#      for j in range(0,n):
#       if(j==i or j==n-i-1 or j==0 or j==n-1):
#        print("*",end=" ")
#       else:
#        print(" ",end=" ")
#   else:
#       for j in range(0,n):
#         print("*",end=" ")
#   print()
n=int(input())
for i in range(n):
  for j in range(n):
    if(i==0 or j==0 or i==n-1 or j==n-1 or i==j or i+j==n-1):
     print("*",end=" ")
    else:
     print(" ",end=" ")
  print()

5
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
# 1  2  3  4
# 5  6  7  8
# 9  10 11 12
# 13 14 15 16
n =int(input("enter the rows"))
l=1
for i in range(0,n):
  for j in range(0,n):
    print(l,end=" ")
    l=l+1
  print()

enter the rows4
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
# A A A A A
# A A A A A
# A A A A A
# A A A A A
# A A A A A

# take user input for char to be printed

n=int(input())
k=input()
for i in range(n):
  for j in range(n):
    print(k,end=" ")
  print()

6
u
u u u u u u
u u u u u u
u u u u u u
u u u u u u
u u u u u u
u u u u u u

In [ ]:
#factorial
num=int(input("enter no"))
f=1
if num<0:
  print("doesn't exist")
elif(num==0):
  print("1")
else:
  for i in range(1,num+1):
    f=f*i
  print(f)

enter no3
6

In [ ]:
#write a program to read a string from user and implement the logic to remove the characters which are at the odd number of the index
n=input("enter the string")
a=" "
l=len(n)
for i in range(0,l):
# for i in range(0,l,2):
  if(i%2!=0):
    a=a+n[i]
print(a)
#in range use skip of 2

enter the stringhello
 hlo

In [ ]:
#write a program to swap 2 numbers using a 3rd var
a=int(input())
b=int(input())
c=a
a=b
b=c
print(a)
print(b)

2
3
3
2

In [ ]:
#write code to swap wiyhout 3rd var
a=int(input())
b=int(input())
a,b=b,a
print(a,b)

#a=a+b
#b=a-b
#a=a-b

1
2
2 1

In [ ]:
#leap year
def isleap(year):
  leap=False
  if(year%4==0 and year%100!=0) or year%400==0:
    leap=True
  return leap

year=int(input())
print(isleap(year))

1990
False

In [ ]:
n = int(input())
    a=""
    for i in range (1,n+1):
        a=a+str(i)
    print(a)